.variable-box {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #444;
  margin: 0px 8px 0px 8px;
  overflow: hidden;
  font-size: 14px;
  border-radius: 8px;
  flex-shrink: 0;

  .value {
    padding: 6px;
  }

  .name {
    background-color: #ffb4a6;
    padding: 6px;
    text-align: center;
    width: 100%;
  }

  &.bold {
    font-weight: 600;
    font-size: 20px;

    .name {
      background-color: #ff4522;
    }
  }

  &.green {
    .name {
      background-color: #dcedc8;
    }

    &.bold {
      font-weight: 600;

      .name {
        background-color: #8bc34a;
      }
    }
  }

  &.blue {
    .name {
      background-color: #81d4fa;
    }

    &.bold {
      font-weight: 600;

      .name {
        background-color: #03a9f4;
      }
    }
  }

  &.gray {
    .name {
      background-color: #989898;
    }

    &.bold {
      font-weight: 600;

      .name {
        background-color: #767676;
      }
    }
  }

  &.gold {
    .name {
      background-color: #ffd12a;
    }

    &.bold {
      font-weight: 600;

      .name {
        background-color: #ffd12a;
      }
    }
  }
}
